:root {
  --color-black: #28262c;
  --color-lapis: #05668d;
  --color-pastel-aqua: #a8dadc;
  --color-paste-coral: #ffddd2;
  --color-pastel-lavender: #cdb4db;
  --color-pastel-mint: #f1faee;
  --color-white: #fff;
}
